/* Colors */
:root {
  --color-primary: #2A5D4D;
  --color-primary-light: #7C9A7B;
  --color-background: #F3F5F0;
  --color-text: #333333;
  --color-muted: #666666;
  --color-border: #DADBC7;
  --color-secondary: #A97C50;
}

/* Font */
body {
  font-family: Georgia, serif;
  background-color: var(--color-background);
  color: var(--color-text);
}